# Extracted text output files
Layer_1/extracted_text/

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Layer 2 output files
Layer_2/*.json
# Layer 3 output files
Layer_3/normalized_cameras.json
# Layer 4 output files
Layer_4/validated_cameras.json
# Layer 5 - database config
Layer_5/db_config.py
